<FML>
    <CONFIG>
        <APP_ICON               value="assets/logo.png"/>
        <APPLICATION_NAME       value="GitHub Pages Mobile App"/>
        <BRIGHTNESS             value="light"/>
        <COLOR_SCHEME           value="purple"/>
        <FONT                   value="Archivo Narrow"/>
        <HOME_PAGE              value="assets/templates/home.xml"/>
        <REFRESH                value="true"/>
    </CONFIG>
</FML>
