<FML>
    <CONFIG>
        <APP_ICON               value="assets/images/logo.png"/>
        <APPLICATION_NAME       value="GitHub Pages Mobile App"/>
        <BRIGHTNESS             value="dark"/>
        <COLOR_SCHEME           value="purple"/>
        <FONT                   value="Lobster"/>
        <HOME_PAGE              value="assets/templates/home.xml"/>
        <!-- <LOGIN_PAGE             value=""/> -->
        <!-- <UNAUTHORIZED_PAGE      value=""/> -->
        <!-- <MIRROR_API             value=""/> -->
        <REFRESH                value="true"/>
        <!-- <FIREBASE_API_KEY       value=""/> -->
        <!-- <FIREBASE_AUTH_DOMAIN   value=""/> -->
    </CONFIG>
</FML>
